@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	padding: 0;
	margin:0;
	font-family:'Lato';
	background-color: #644530;
	
	color:#ffc0c2;
	text-align: center;
}
/* global*/
.container{
 width:80%;
 overflow: hidden;
 margin:auto;
text-align: center;

}

header{
	background:#27253d;
	padding-top:10px; 
	min-height:60px;
}
a{
	outline:0;
}
header a{
	color:#ffffff;
	text-decoration:none;
	text-transform: uppercase;
	font-size:17px;

}

.logo {
	text-transform: none;
	color:#ffc0c2;
	outline:0;
}


ul{
	margin: 0;
	padding:0;
}


header li{
	float:left;
	display:inline;
	padding:0 10px 0 10px;
}


header .logo{
	float:left;
}

header nav{
	float: right;
	padding-top: 30px;
}

.highlighted {
	color:#d38cad;
	font-style: italic;
	font-weight:lighter;
}
header .current a{
	color:#d38cad;
	font-weight:bold;

}
header a:hover {
	color:#993399;
	font-weight:bolder;
}

.button0{
 	float:left;
 	min-height: 25px;
 	margin:10px;
	border-radius: 6px;
	border:2px solid #89a4c7;
	background:#1a2c5b;
	color:#ffffff;
	min-width: 80px;

}

.button1:hover{
	background-color: #7dc383;
}
.button1{
	background-color:#27253d;
	margin:8px;
	color:#ffffff;
	border:1px solid #4bbb8b;
 
}
.button2:hover{
	background-color: #f85959;
}
textarea{
	padding:20px; 
}
footer{
	background:#27253d;
	margin-top:40px;
	padding-top:30px; 
	min-height:60px;
	text-align: center;
	position:fixed;
	bottom: 0;
	height:5%;
	width:100%;

}
.bolden{
	font-weight:bold;
}
input[type=submit]{
	border-radius: 6px;
	border:2px solid #89a4c7;
	background:#89a4c7;
	width:80px;

}
input[type=submit]:hover{
	color:#e6e6d4;
	font-weight: bold;
	border:2px solid #7a5d7e ;
}

/*entries*/

#entries{
	min-height:300px;
	text-align: center;


}
#entries table{
	width:100%;
	margin-top: 20px;
	margin-bottom: 15%;
	border-collapse: collapse;

}



#entries th{
	background-color:#2e282a;
	color:#d38cad;
	padding:20px;
}
#entries  td{
	padding:10px;
	color:#000000;
}
#entries .title{
	font-weight:bold;
	font-size:17px;
}
#entries tr:nth-child(even){
	background-color: #f0f3f3;
}
#entries tr:nth-child(odd){
	background-color: #d38cad;;
}

/*forms*/
.forms{
	width: 40%;
	min-width:150px;
	display:inline-block;
	margin-top: 50px;
	border: 2px hidden #b8dff0;
	border-radius:25px;
	padding:30px;
	background: #2e282a;
	margin-left:40px;


}

input{
	margin:10px;
	width: 80%;


}


/*information*/
#information{
	margin-top:96px;
	font-size: 17px;
	background-color: #2e282a;
	border-radius: 20px; 
	padding:12px;
	color:#fff7c2;
   
}
/*addentry*/

/*details*/
#details{
	background:#2e282a;
	margin:30px;
	border-radius:25px;
	text-align: center;
	font-size:18px;
	padding:20px;

}
#details input[type=checkbox]{
	width:20px;
	border:2px solid #27253d;
}
#score{
	font-size:24px;
	color:#7a5d7e;
}
/*index*/
#index{
	background-image: url("Diary-jpg.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;
}

/*entry*/
#addentry{
	background:#2e282a;
	border-radius:25px;
	margin:50px;
	margin-bottom: 100px;
	padding:20px;
	text-align: center;
	width:40%;
	display: none;
	position: relative;
	top:-600px;
	left:200px;


}
#addentry textarea{
	border-radius:5px;
	width:80%;
	height:80px;
	resize:none;
	overflow:auto;
	padding:5px;
}
#addentry input[type=text]{
	width:80%;

}
